<ng-content select="h1"></ng-content>

<!-- JSON Pipe : {{ users | json}} -->

<div class="container">
    <ul class="list-unstyled">
        <li class="well" *ngFor="let user of users; index as i; first as isFirst; even as isEven">
            <div class="row">
                {{i}} {{isFirst}} {{isEven}}
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img [src]="user.image" class="img-responsive img-circle"> 
                    <button class="btn btn-info btn-sm" (click)="moreInfo(user)">
                        More Info
                    </button>
                </div>
                <h1 apphighlight [myColor]="yellow">{{user.firstName | uppercase}} {{user.lastName | uppercase}}</h1>
                <p [ngClass] = "myClasses">Date of Birth :
                    <span [innerHTML]="user.dob | date : 'MM/DD/YYYY' "></span>
                </p>
                <p *ngIf="user.isWorking; else ElseTemplate">Income :{{user.income | currency}} </p>
                <em> Total Votes :{{user.votes}}
                    <input type="number" [value]="user.votes" (change)="user.vates = $event.target.value">
                    <input type="number" [(ngModel)]="user.votes">
                </em>
            </div>
            <ng-template #ElseTemplate>
                <p>{{ user.firstName}} is not working now</p>
            </ng-template>
        </li>

    </ul>
</div>
<ng-content footer="footer"></ng-content>