<ng-content select="h1"></ng-content>

<div class="container">
    <ul class="list-unstyled">
        <li class="well">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img [src]="user.image" class="img-responsive img-circle"> 
                    <button class="btn btn-info btn-sm" (click)="moreInfo(user)">
                        More Info
                    </button>
                </div>
                <h1>{{user.firstName}} {{user.lastName}}</h1>
                <p>Date of Birth :
                    <span [innerHTML]="user.dob"></span>
                </p>
                <p>Income :{{user.income}} </p>
                <em> Total Votes :{{user.votes}}
                    <input type="number" [value]="user.votes" (change)="user.vates = $event.target.value">
                    <input type="number" [(ngModel)]="user.votes">
                </em>
            </div>
        </li>

    </ul>
</div>
<ng-content footer="footer"></ng-content>